*{
    margin: 0;
    box-sizing: border-box;
}

.card-top{
    display: flex;
    align-items: center;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden{
    display:none;
}